<%- include('./partials/head.ejs')%>
<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				
				<form action="/users/profile" method="get">
					<h5>Email: <input type="email" name="" id=""></h5>
					<h5>Usuario: <input type="text"></h5>
					<h5>Contraseña: <input type="password"></h5>
					<h5>Fecha de Nacimiento: <input type="date" name="" id=""></h5>
					<h5>Nro de Documento: <input type="number"></h5>
					<h5>Foto de perfil: <input type="text"></h5>
					<button type="submit" >Editar</button>
				</form>
				
			</h2>


	<!-- footer -->
	<%- include('./partials/footer.ejs')%>

	<!-- /footer -->
</body>

</html>